<div class="center hero-unit">

	<h1>CSE110 FALL2014 TEAM2</h1>
    <h2>
 		我们也许可以用这个来做这个quarter的project.这是用ruby on rails做的，大家觉得如何？
	</h2>

	<%= link_to "这个button目前还没什么用。。", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("ace.png", alt: "Ace"), 'http://rubyonrails.org/' %>
