<div class="center hero-unit">

	<h1>EveryOneRichBank</h1>
    <h2>
 		The online bank system developed by team "The Dwarf"
	</h2>

	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row text-center">
<%= link_to image_tag("female_dwarf.png", alt: "zhangling"), 'http://rubyonrails.org/' %>
</div>
