<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Ruby on Rails 的 Tutorial</a>
    by Xueyang Li
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">ruby on rails的相关文章</a></li>
    </ul>
  </nav>
</footer>
